/*  
    #a4c2d1; egg blue
    #dbdcde; light grey
    #1f7798; mid-blue
    #184f63; dark-blue
*/

/* global styles */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Poppins&display=swap');

body {
    background-color: #a4c2d1; /*Egg Blue*/
    font-family: "Poppins", sans-serif;
}

h1, h2  {
    font-family: "DM Serif Display", serif;
    color:#184f63; /*Dark Blue*/
}

/*Hero Section*/

#hero {
    min-height: 500px;
    background: #dbdcde url(../images/hero-background.webp) no-repeat 50%  70%/cover;
    color: white;
    padding: 5% 7%;
}

/*About section*/
#about {
    background-color: white;
}

#portfolio {
    background-color: #dbdcde; /*Light Grey*/

}

/*Contact section*/
#contact {
    background-color: white;
}